<footer class="py-12 px-6 border-t border-(--muted)">

  <div class="max-w-6xl mx-auto flex flex-col md:flex-row justify-between items-center gap-6 text-sm">

    <!-- LEFT -->
    <div class="text-(--muted)">
      © {new Date().getFullYear()} Michal Mikulenka. All rights reserved.
    </div>

    <!-- RIGHT -->
    <div class="flex gap-6">

      <a href="https://github.com/Pilsenhorn"
         target="_blank"
         class="hover:text-white transition">
        GitHub
      </a>

      <a href="mailto:michalmikulenka@proton.me"
         class="hover:text-white transition">
        Kontakt
      </a>

    </div>

  </div>

</footer>