

<header class="fixed top-0 left-0 w-full z-50 backdrop-blur-md bg-white/5 border-b border-(--muted)">

  <div class="max-w-6xl mx-auto px-6 py-4 flex items-center justify-between">

    <!-- LOGO -->
    <a href="/" class="flex items-center">
      <img src="/public/logo.jpeg" alt="Logo" class="h-10 w-10" />
    </a>

    <!-- DESKTOP NAV -->
    <nav class="hidden md:flex items-center gap-8 text-base md:text-lg">

      <a href="#problem" class="hover:text-white transition">Problém</a>
      <a href="#solution" class="hover:text-white transition">Řešení</a>
      <a href="#case" class="hover:text-white transition">Výsledky</a>

      <a href="#cta"
         class="bg-(--accent) hover:bg-(--accent-hover)
                px-4 py-2 rounded-lg font-semibold transition">
        Konzultace
      </a>

    </nav>

    <!-- MOBILE BUTTON -->
    <button id="menu-btn" class="md:hidden flex flex-col gap-1">

      <span class="w-6 h-0.5 bg-white"></span>
      <span class="w-6 h-0.5 bg-white"></span>
      <span class="w-6 h-0.5 bg-white"></span>

    </button>

  </div>

  <!-- MOBILE MENU -->
  <div id="mobile-menu"
       class="md:hidden px-6 pb-6 flex flex-col gap-4 py-6 bg-(--background) border-t border-(--muted)">

    <a href="#problem" class="py-2 border-b border-(--muted) text-center text-lg">Problém</a>
    <a href="#solution" class="py-2 border-b border-(--muted) text-center text-lg">Řešení</a>
    <a href="#case" class="py-2 border-b border-(--muted) text-center text-lg">Výsledky</a>

    <a href="#cta"
       class="bg-(--accent) px-4 py-3 rounded-lg text-center font-semibold">
      Konzultace
    </a>

  </div>

</header>

