<section class="min-h-screen flex items-center px-8 pt-24">

  <div class="max-w-7xl mx-auto grid md:grid-cols-2 gap-12 items-center">

    <!-- TEXT -->
    <div class="space-y-6">

      <h1 class="text-4xl text-shadow-sm md:text-6xl font-bold leading-relaxed tracking-wide">
          Váš web už má návštěvnost.
          Já z ní udělám klienty.
      </h1>

      <p class="text-2xl text-(--text-primary) text-shadow-sm leading-relaxed tracking-wide">
        Najdu, kde Vám utíkají poptávky
        a ukážu vám přesně, jak to opravit.
      </p>

      <div class="flex gap-4">

        <!-- PRIMARY CTA -->
        <a href="https://calendly.com/pilsenhorn/audit-systemu-30-min" target="_blank"
           class="bg-(--accent) hover:bg-(--accent-hover)
                  text-(--background) font-medium px-6 py-3 rounded-xl transition tracking-wide leading-relaxed">
          Odhalit, proč přicházím o klienty
        </a>

        <!-- SECONDARY -->
        <a href="#case"
           class="border border-(--muted)
                  px-6 py-3 rounded-xl text-(--accent) hover:text-(--text-primary) transition tracking-wide leading-relaxed">
          Ukázky řešení
        </a>

      </div>

    </div>

    <!-- VISUAL -->
    <div class="relative">

      <!-- glow -->
      <div class="absolute inset-0 bg-(--accent)/20 blur-3xl"></div>

      <!-- card -->
      <div class="relative border border-(--muted)
                  rounded-2xl p-6 backdrop-blur-md
                  bg-white/5">

        <pre class="text-md text-(--text-primary) leading-relaxed tracking-wide">
            {`// System > website
            function scaleBusiness() {
              automate();
              simplify();
              grow();
            }`}
        </pre>

      </div>

    </div>

  </div>

</section>