<section id="offer" class="flex min-h-screen items-center px-4 py-18 sm:px-6 md:py-24">
  <div class="mx-auto max-w-7xl space-y-10 md:space-y-12">
    <div class="space-y-4">
      <h2 class="tracking-heading text-shadow-xs max-w-4xl text-3xl font-bold leading-tight sm:text-4xl md:text-5xl">
        Zjistěte, kde vám chybí systém
      </h2>

      <p class="tracking-text max-w-3xl text-base leading-relaxed sm:text-lg">
        Během diagnostiky odhalím,
        kde vzniká chaos a proč klienti nedochází k rozhodnutí.
        Dostanete konkrétní kroky, jak to změnit..
      </p>
    </div>

    <div class="space-y-6 rounded-3xl border-2 border-(--accent) bg-(--background)/10 p-5 text-shadow-sm sm:p-8">
      <h3 class="tracking-heading text-2xl font-semibold leading-relaxed sm:text-3xl">
        Diagnostika systému podnikání
      </h3>

      <p class="tracking-text max-w-3xl text-base leading-relaxed sm:text-lg">
        Během 60 minut odhalím, kde ve vašem podnikání vzniká chaos <br> a proč ztrácíte klienty.
      </p>

      <ul class="tracking-text max-w-md space-y-2 text-base sm:text-lg">
        <li>- kde přesně ztrácíte leady</li>
        <li>- proč kse klienti nerozhodují</li>
        <li>- jak nastavit systém, který to změní</li>
      </ul>
      <p class="tracking-text max-w-3xl text-base leading-relaxed sm:text-lg">
        Vstupní krok k funkčnímu systému
      </p>
      <p class="tracking-heading text-center text-2xl font-semibold leading-relaxed">
        5 699 Kč
      </p>

      <a
        href="https://calendly.com/mikulenka-info/30min"
        target="_blank"
        class="tracking-cta block rounded-full bg-(--accent) py-4 text-center font-medium leading-relaxed text-(--background) transition hover:bg-(--accent-hover)"
      >
        Chci zjistit, kde mi chybí systém
      </a>

      <p class="tracking-text max-w-2xl text-sm leading-relaxed sm:text-base">
        Odejdete s jasným seznamem kroků,
        i když spolu dál nebudeme spolupracovat.
      </p>

      <p class="tracking-text text-sm leading-relaxed sm:text-base">
        Omezený počet spoluprací týdně.
      </p>

      <p class="tracking-text text-lg font-medium leading-relaxed sm:text-xl">
        Po diagnostice budete přesně vědět:
      </p>

      <ul class="tracking-text max-w-md space-y-2 text-base sm:text-lg">
        <li>- co brzdí váše podnikání</li>
        <li>- co změnit</li>
        <li>- jak získat více klientů</li>
      </ul>
    </div>
  </div>
</section>
