<section id="solution" class="py-24 px-6 min-h-screen flex items-center">

  <div class="max-w-7xl mx-auto space-y-16">

    <!-- HEADLINE -->
    <div class="text-center space-y-4">
      <h2 class="text-3xl text-justify text-shadow-sm leading-normal md:text-5xl font-bold tracking-wide">
        Opravím váš web tak, aby přiváděl klienty.
      </h2>

      <p class="text-(--text-primary) text-lg text-justify tracking-wide font-medium leading-relaxed">
        Ne další redesign.  
        Funkční systém, který vede návštěvníky k poptávce.
      </p>
    </div>

    <!-- STEPS -->
    <div class="grid md:grid-cols-3 gap-8">

      <!-- STEP 1 -->
      <div class="space-y-3">
        <div class="text-(--accent) font-bold text-lg">01</div>
        <h3 class="font-semibold text-xl tracking-wide">Najdu úniky</h3>
        <p class="text-(--text-primary) text-justify text-sm tracking-wide">
          Identifikuju, kde přesně ztrácíte klienty a proč odcházejí.
        </p>
      </div>

      <!-- STEP 2 -->
      <div class="space-y-3">
        <div class="text-(--accent) font-bold text-lg">02</div>
        <h3 class="font-semibold text-xl tracking-wide">Navrhnu změny</h3>
        <p class="text-(--text-primary) text-sm text-justify tracking-wide">
          Dostanete konkrétní kroky, které vedou k vyšší konverzi.
        </p>
      </div>

      <!-- STEP 3 -->
      <div class="space-y-3">
        <div class="text-(--accent) font-bold text-lg">03</div>
        <h3 class="font-semibold text-xl tracking-wide">Postavím systém</h3>
        <p class="text-(--text-primary) text-sm text-justify tracking-wide">
          Pokud dává smysl, upravíme web tak, aby přiváděl klienty automaticky.
        </p>
      </div>

    </div>

    <!-- RESULT -->
    <div class="relative border border-(--muted) rounded-2xl p-8 bg-white/5 backdrop-blur-md">

      <div class="absolute inset-0 bg-(--accent)/10 blur-3xl"></div>

      <div class="relative space-y-4 text-justify">

        <p class="text-(--text-primary) text-lg uppercase text-center tracking-wide">
          Výsledek:
        </p>

        <h3 class="text-2xl md:text-3xl font-semibold tracking-wide leading-normal">
          Více poptávek. Méně chaosu. Systém, který pracuje za vás.
          <br>
          Jasná cesta klienta bez zbytečných kroků.
        </h3>

      </div>

    </div>

    <!-- CTA -->
    <div class="text-center pt-6">
      <a href="https://calendly.com/pilsenhorn/audit-systemu-30-min" target="_blank" class="inline-block px-8 py-4 bg-(--accent) text-(--background) rounded-xl font-medium tracking-wider leading-relaxed hover:bg-(--accent-hover) transition">
        Zjistit, kde ztrácím klienty
      </a>
    </div>

  </div>

</section>