---
import "../styles/global.css";
---

<!doctype html>
<html lang="cs">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Michal Mikulenka - systémy pro weby a AI, které přivádí klienty</title>
		<meta name="description" content="Navrhuji a stavím jednoduché webové a AI systémy, které automatizují prodej a přivádí klienty. Audit od 500 Kč." />
		<meta property="og:title" content="Michal Mikulenka – systémy, které přivádí klienty" />
		<meta property="og:description" content="Pomáhám tvůrcům a podnikatelům zjednodušit web a zvýšit konverze." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://mikulenka.dev" />
		<meta property="og:image" content="https://mikulenka.dev/og-image.png" />

		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
	
	</head>
	<body class="bg-background text-text-primary font-sans">
		<slot />
		<!-- SCRIPT -->
		<script>
		document.addEventListener('DOMContentLoaded', () => {
			const btn = document.getElementById('menu-btn');
			const menu = document.getElementById('mobile-menu');

			if (!btn || !menu) return;

			// toggle menu
			btn.addEventListener('click', () => {
			menu.classList.toggle('hidden');
			});

			// auto close
			const links = menu.querySelectorAll('a');
			links.forEach(link => {
			link.addEventListener('click', () => {
				menu.classList.add('hidden');
			});
			});
		});
		</script>
	</body>
</html>

